
<Meta title>All tags | <Site name /></Meta>

<h1>List of all dynamic tags</h1>
<?php

$framework = tangible();
$html = tangible_template();

$make_map = function($items) {
  return array_reduce($items, function($map, $key) {
    $map [ $key ] = true;
    return $map;
  }, []);
};

$skip_tags = $make_map([
  'Set', // See Get
  'Catch', // See Exit

  // Pagination local tags
  'PaginateLoading',
  'PaginateButtons',
  'PaginateFields',
  'Paginate',

  // Internal use
  'PopContext', 'PushContext',
  'ViewsTheme',

  'Glide', // See Glider
  'Slide', // See Slider

  // To be implemented
  'Calendar',
  'Chart',
  'Form',
  'Table', // As module
]);

$module_tags = $make_map([
  'Async',
  'Cache',
  'Markdown',
  'Math',
  'Prism',
  'Glider',
  'Slider',
  // 'Table',
]);

$tag_link_map = [];
$module_tag_link_map = [];

// All tags
// $keys = array_keys($html->tags);

// Documented tags
$keys = array_merge([
  'Date',
  'Embed',
  'Exit', // 'Catch'
  'Field',
  'Format',
  'Get', // 'Set',
  'If',
  'Meta', // TODO: Move this to Tangible Views section
  'List',
  'Load',
  'Loop',
  'Map',
  'Note',
  'Path',
  'Raw',
  'Redirect',
  'Route',
  'Setting',
  'Shortcode',
  'Taxonomy',
  'Template',
  'Url',
  'User',

], array_keys($module_tags));

sort($keys);

foreach ($keys as $key) {

  if (isset($skip_tags[ $key ]) || $key[0] >= 'a') continue; // Skip

  $slug = $framework->kebab_case($key);
  $is_module = isset($module_tags[ $key ]);

  if ($is_module) {
    $module_tag_link_map[ $key ] = "/modules/{$slug}";
  } else {
    $tag_link_map[ $key ] =  "/tags/{$slug}";
  }
}

$module_tag_link_map['Sass'] = '/modules/sass';

$html->set_map('tag_link_map', $tag_link_map);
$html->set_map('module_tag_link_map', $module_tag_link_map);

?>
<ul>
  <Loop map_keys=tag_link_map>
    <li><a href="{Field value}"><Field key /></a></li>
  </Loop>
</ul>

<h4>Modules</h4>
<ul>
  <Loop map_keys=module_tag_link_map>
    <li><a href="{Field value}"><Field key /></a></li>
  </Loop>
</ul>
