<Markdown>

# Sass

This module extends the `style` tag to render the Sass styling language ([reference](https://sass-lang.com/)).

<Prism>
<style type=sass>

$sunny: #fed62d;

body {
  background-color: $sunny;
}

</style>
</Prism>

</Markdown>


<Note> Test that it works </Note>

<style type=sass>

$sunny: #fed62d;

body {
  background-color: $sunny;
}

</style>
