<Markdown>
# Random

The `Random` tag generates a random number.

```html
<Random from=1 to=100 />
```

Result: <Random from=1 to=100 />

Use the attributes `from` and `to` to set the minimum and maximum number.

</Markdown>