
<Note> Site wrapper - Closed in footer.html </Note>

<Set menu_title>Block Editor</Set>

<List name="sections" load="menu.hjson" />


<Set template=sidebar_bottom>
  <div class="list-group-item list-group-item-action p-0">
    <hr>
    <a class="list-group-item list-group-item-action" href="/">Back to Loops & Logic</a>
  </div>
</Set>


<div id="wrapper" class="d-flex">

  <Load file="/common/sidebar.html" />

  <main id="page-content-wrapper" class="flex-shrink-0" role="main">

    <div class="container">
