<Markdown>

# Loop: User

For loop type `user`, here are the query parameters and fields.

<?php

$loop_type = 'user';

require_once __DIR__.'/../query-args-and-fields.php';

?>

## User conditions

Current user is logged in

```html
<If user exists>
```

Current user is not logged in

```html
<If not user exists>
```

Current user is admin

```html
<If user_role includes value=administrator>
```

User field value

```html
<If user_field=field_name value="something">
```

## User tag

The [`User` tag](/tags/user) is a shortcut to get a field from current user.

</Markdown>