<Prism enqueue />
<Load file=styles/index.scss />

<Meta title>Loops & Logic</Meta>
<Meta description>Loops & Logic is a template system for WordPress.</Meta>

<?php

// For templates

$tgbl = tangible();
$html = tangible_template();
$loop = tangible_loop();
$logic = tangible_logic();

?>