<Markdown>
# Field

The `Field` tag gets a field value from the current item in the loop.

If there's no loop, it gets the field from the current post or page.

The field name is passed as the first attribute, or by attribute `name`.

```html
<Field title />
<Field name=author_id />
```

See [the `Loop` tag](/tags/loop) and each loop type's reference page for a list of available fields.

<a name="loop-type-shortcut"></a>
## Loop type shortcut

Use the `type` attribute with `id` or `name` to get a field from a specific post.

```html
<Field title type=page name=example />
```


</Markdown>