<Markdown>
# Loop query

The following  query parameters can be used for all loop types.

<h2 id="limit-count">Limit item count</h2>

Use the <code class="color-attribute">count</code> attribute to limit the total number of items.

```html
Recent posts:
<Loop type=post count=3>
  <a href="{Field url}"><Field title /></a>
  <If not last>, </If>
</Loop>
```

<h2 id="filter-by-field">Filter by field</h2>

Use the <code class="color-attribute">field</code> attribute to filter items by field.

- `field` - Field name by which to filter
- `field_value` - Field value
- `field_compare` - Comparison operator - See [If tag: Common comparisons](/tags/if#common-comparisons)
- `field_type` - Field type: `string` (default), `number`, `date`

### Filter by multiple fields

For the `field` attributes, add the suffix `_2` and `_3` to filter by more than one field.

- `field_2`, `field_value_2`, `field_compare_2`, `field_type_2`
- `field_3`, `field_value_3`, ...

<h2 id="sort-by-field">Sort by field</h2>

Use the <code class="color-attribute">sort_field</code> attribute to sort items by field.

- `sort_field` - Field by which to sort
- `sort_order` - Sort order - `asc` for ascending (default), or `desc` for descending
- `sort_type` - Sort type - `string` (default), `number`, `date`

</Markdown>