<Markdown>

# Loop: Taxonomy term

For loop type `taxonomy_term`, here are the query parameters and fields.

<?php

$loop_type = 'taxonomy_term';

require_once __DIR__.'/../query-args-and-fields.php';

?>

## Shortcuts

Use the `taxonomy` attribute as a shortcut.

```html
<Loop taxonomy=category>
  <Field title />
</Loop>
```

The above is the same as:

```html
<Loop type=taxonomy_term taxonomy=category>
  <Field title />
</Loop>
```

The [`Taxonomy` tag](/tags/taxonomy) provides another way to express it.

```html
<Taxonomy category>
  <Term title />
</Taxonomy>
```

</Markdown>