
<Note> Site wrapper - Closed in footer.html </Note>

<List name="sections" load="menu.json" />

<div id="wrapper" class="d-flex">

  <Load file="/common/sidebar.html" />

  <main id="page-content-wrapper" class="flex-shrink-0" role="main">

    <div class="container">
