<Markdown>

# Format

The `Format` tag takes given content and applies various types of formatting to it.

#### Example

```html
<Format length=60>
  <Field description />
</Format>
```

The above will trim the field value to maximum length of 60 characters.


<a name="case"></a>
## Case

Use the `case` attribute to convert to the following cases.

<table class="table">
  <thead>
    <tr><td>Case</td><td>Example</td></tr>
  </thead>
  <tbody>
    <tr><td><code>camel</code></td><td><code>camelCase</code></td></tr>
    <tr><td><code>kebab</code></td><td><code>kebab-case</code></td></tr>
    <tr><td><code>snake</code></td><td><code>snake_case</code></td></tr>
    <tr><td><code>pascal</code></td><td><code>PascalCase</code></td></tr>
    <tr><td><code>lower</code></td><td><code>lowercase</code></td></tr>
    <tr><td><code>upper</code></td><td><code>UPPERCASE</code></td></tr>
  </tbody>
</table>

For example, this:

```html
<Format case=kebab>Hello, world</Format>
```

..will output: `hello-world`.


<a name="code"></a>
## Code

Use the `code` attribute to escape text for inline `<code>`, or `<pre>` block.

```html
<Format code>this & that</Format>
```

..will output: `this &amp; that`.

It uses PHP's [htmlspecialchars](https://www.php.net/manual/en/function.htmlspecialchars) function.


<a name="date"></a>
## Date

Use the `date` attribute to apply date formatting.

It uses the excellent [Carbon date/time library](https://carbon.nesbot.com/).

See [the Date tag](/tags/date) for details on formatting and additionally supported attributes.

#### Examples

```html
<Format date="Y-m-d">today</Format>
```

..will output: <code render><Format date="Y-m-d">today</Format></code>.

Use `date=default` to use the site setting from Settings -&gt; General -&gt; Date Format.

```html
<Format date="l j F Y" locale=fr>today</Format>
```

..will output: <code render><Format date="l j F Y" locale=fr>today</Format></code>.


<a name="length"></a>
## Length

Use the `length` attribute to limit to a maximum length of characters.

```html
<Format length=60>
  <Field description />
</Format>
```

It uses PHP's [mb_substr](https://www.php.net/manual/en/function.mb-substr.php) function, which supports UTF-8 multibyte characters.


<a name="number"></a>
## Number

Use the `number` attribute to format numbers.

```html
<Format number decimals="2" point="," thousands=".">1000000</Format>
```

..will output: <code render><Format number decimals="2" point="," thousands=".">1000000</Format></code>

It uses PHP's [number_format](https://www.php.net/manual/en/function.number-format) function.

Optional attributes are:

- `decimals` - Number of decimal places to display
- `point` - Character for decimal point
- `thousands` - Character for separating thousands


<a name="replace"></a>
## Replace

Use the `replace` and `with` attributes to replace pieces of text.

```html
<Format replace=" " with="-">555 555 5555</Format>
```

The above example results in `555-555-5555`.

The same attributes are supported in `Field` tag.

```html
<Field phone_number replace=" " with="-" />
```

### Multiple replaces

To replace multiple different texts, use:

- `replace_2` and `with_2`
- `replace_3` and `with_3`

## URL

Use format `url_query` to encode URL query string.

```html
<Format url_query>?key=value with some spaces</Format>
```

Usually this is passed to a link `href` attribute. It's probably easier to set it to a variable first.

```html
<Set q><Format url_query>..</Format></Set>
<a href="https://example.com{Get q}"></a>
```

</Markdown>
