<?php

$logic_rules = $logic->get_rules_by_category('core');
$logic_rule_keys = array_keys($logic_rules);

// tgbl()->see($logic_rules);

sort( $logic_rule_keys );

$html->set_list('logic_fields', array_map(function($key) use ($logic_rules) {
  return $logic_rules[ $key ][0]; // Fields can have more than one config
}, $logic_rule_keys));

$html->set_list('common_logic_comparisons', $html->logic_comparisons);

?>
<Markdown>

# If

The `If` tag evaluates whether a condition is true or false.

The basic structure is:

```html
<If subject comparison value>
  The condition is true.
</If>
```

When the condition is true, its inner content is displayed.

## Attributes

The condition is given in the tag attributes, in the following order:

- **Subject** (Required)

  Subject of the condition.

  This can be given as the first atttribute without value, for example:

  *First loop item*

  ```html
  <If first>
  ```

  *Loop count is more than 2*

  ```html
  <If count more_than value="2">
  ```

  **Subject with value**

  Subjects like `check` and `field` require a value.

  *Field is not empty*

  ```html
  <If field="title" exists>
  ```

- **Comparison** (Optional)

  This defines what to do with the subject, such as compare to another value, or only check if it exists.

  It is given as `compare="something"`, or second attribute without value.

  For example, <code class="color-blue">is</code>, <code class="color-blue">more_than</code>, <code class="color-blue">less_than</code>.

  If not given, the default is <code class="color-blue">exists</code>.

- **Value to compare** - `value="something"` (Optional)

### Core conditions

These are defined as conditions for WordPress core content. Loops & Logic add-ons provide conditions for additional content types.

<ul>
  <Loop list=logic_fields>
    <li>
      <p>
        <code render><Field name /><If field=field_2>=".."</If></code> - <Field label />
      </p>

      <Note>
      <If loop exists list="{Field operands}">
        <ul>
          <Loop>
            <li><code render class="color-blue"><Field name /></code></li>
          </Loop>
        </ul>
      </If>
      </Note>

      <If not check="{Field name}" in value="list,logic,route">
      <Loop list="{Field values}" item="1">
        <If field="type">
          <p>
          Optional attribute <code>value</code> of type <Field type />
          </p>
        </If>
      </Loop>
      </If>
    </li>
  </Loop>
</ul>

<a name="common-comparisons"></a>
### Common comparisons

<ul>
  <Loop list=common_logic_comparisons>
    <li><code render class="color-blue"><Field name /></code></li>
  </Loop>
</ul>

## Else

The `Else` tag is used to provide a template for when the `If` condition is not met.

Note that it is a closed tag. Everything after it will render when the condition is false.

```html
<If field comparison value>
  The condition is true.
<Else />
  The condition is false.
</If>
```

### Else if

Use `Else if` to check multiple conditions.

```html
<If first_condition>
  First condition is true.
<Else if second_condition />
  First condition is false.
  Second condition is true.
<Else />
  All conditions are false.
</If>
```


---

[Next: Logic variable type](/tags/if/logic)

</Markdown>