<Markdown>

# Get and Set

The `Get` and `Set` tags are useful for remembering a value to use later, or in multiple places.

This is commonly called a "variable", which has a unique name and holds a reference to a value. The value is stored in the memory during a single page load, while templates are being rendered.

## Set

Use the `Set` tag to save a value in the memory by a given name.

In the example below, the current post ID is stored in a variable called `current_id`.

```html
<Set name=current_id>
  <Field id />
</Set>
```

As a shortcut, the name can be given directly.

```html
<Set current_id>...</Set>
```

#### Dynamic name

The attribute `name` can be used to create a dynamic variable name.

```html
<Set name="{Get X}_output">...</Set>
```


## Get

Use the `Get` tag with a variable name to get the value.

```html
<Get name=current_id />
```

#### Pass variable to tag attribute

The Get tag can be used to pass a variable to a tag attribute.

```html
<Field name="{Get X}">
```

Inside the attribute, angle brackets `<>` need to be changed to `{}`.


## Variable types

In addition to regular variables, there are other variable types with special behavior.

- [JS](#js-variable)
- [List](/tags/list)
- [Local](#local-variable)
- [Logic](/tags/if/logic)
- [Loop](/tags/loop/variables)
- [Map](/tags/map)
- [Path](/tags/path)
- [Query](/tags/loop/variables#query)
- [Route](/tags/route)
- [Sass](#sass-variable)
- [Setting](/tags/setting)
- [Site](/tags/site)
- [Template](#template-variable)
- [URL](/tags/url)

These can be accessed by using an attribute name of the variable type, instead of the `name` attribute.

For example, to get the site URL:

```html
<Get url=site />
```

Most of the variable types have a tag as a shortcut. The above is equivalent to:

```html
<Url site />
```

For details, see the page for each variable type.

<h2 id="template-variable">Template variable</h2>

The `template` variable type is useful for storing templates, then rendering them later, or in multiple places.

This is in contrast to regular variables, which are rendered upon setting them.

For example, to create a reusable template:

```html
<Set template=title_and_content>
  <h1><Field title /></h1>
  <Field content />
</Set>
```

It can be used anywhere, such as inside a loop.

```html
<Loop type=page count=1>
  <Get template=title_and_content />
</Loop>
```


<h2 id="local-variable">Local variable</h2>

A local variable only exists within a template post or file.

Use the `local` attribute to set and get local variables.

```html
<Set local=variable_name>..</Set>

<Get local=variable_name/>
```

Local variables are useful for templates that you plan to share with other people, to make sure the template doesn't change variables used outside of it.


<h2 id="js-variable">JS variable</h2>

This is a way to pass values to the Script section of a template post.

```html
<Set js=variable_name>..</Set>
```

A valid variable name must include only alphanumeric (letters and numbers) and underscore `_`. It cannot include a dash `-`.

By default, the value is wrapped in "quotes" to create a string. Use the `type` attribute for other value types: `number`, `array` (or `list`), `object` (or `map`), and `raw`. (These all work the same by passing unquoted value.)


<h2 id="sass-variable">Sass variable</h2>

This is a way to pass values to the Style section of a template post.

```html
<Set sass=variable_name>..</Set>
```

A valid variable name must include only alphanumeric (letters and numbers), underscore `_`, and dash `-`.

By default, the value is wrapped in "quotes" to create a string. Use the `type` attribute for other value types: `number`, `color`, `list`, `map`, and `raw`. (These all work the same by passing unquoted value.)

</Markdown>