<h1>Gutenberg template block</h1>

<Loop type=page name=hello-world>

  <p>The following is rendered from a template block. See <a href="{Field edit_url}">the post edit screen</a>.</p>

  <h2><Field title/></h2>

  <Field content />
</Loop>
