<Markdown>

# Base

### Context

They are like Controls but you can't use them individually.

Bases are here to be used by Alias.

It uses the same structure as Controls.

Here are the available base types.

- [ajax select](#ajax_select)

---

## Base types

<a name="ajax_select"></a>
### ajax-select

```html
<Control type="ajax_select" name="ajax_select_control_name" label="ajax select" />
```

- Attributes
  - `ajax_action_name` - (optional) Name of the ajax action - default `none`
- Context
  - `template`
  - `script`

---

</Markdown>
