
<If route="forums">

  <h1>Forums</h1>

  <Field content />

  <If user_role includes value="administrator">
    <div class="pb-3 text-small">
      <a href="{Url admin}/edit.php?post_type=forum">Edit forums</a>
    </div>
  </If>

  <h3>Recent Posts</h3>

  <Shortcode bbp-topic-index />

  <If user_role includes value="administrator">
    <p class="pb-3 text-small">
      <a href="{Url admin}/edit.php?post_type=topic">Edit topics</a>
    </p>
  </If>

<Else />

  <h2>
    <If route="forums/topic/*">Topic:
    <Else if route="forums/search/*" />
    <Else if route="forums/users/*" />User:
    <Else if route="forums/*" />Forum:
    </If>
    <Field title />
  </h2>

  <Field content />

  <If route="forums/topic/*">
    <If user_role includes value="administrator">
      <p class="pb-3 text-small">
        <a href="{Field edit_url}">Edit topic</a>
      </p>
    </If>
  </If>
</If>
