<Markdown>

# Controls

#### Attributes

All controls have the following common attributes.

- `type` - Control type
- `name` - Name of control field: This corresponds to the placeholder name
- `label` - Control label
- `default` - Default value

The first three are required.

Control attributes can be defined like this.

```html
<Control type="text" name="control-name" label="label" default="default" />
```

Or it can also be defined using the `Key` tag.

```html
<Control>
  <Key type>text</Key>
  <Key name>control-name</Key>
</Control>
```

This can be useful for passing dynamic values or long text.

</Markdown>
