<div class="search-box list-group-item mt-2">
  <form method="get" action="https://duckduckgo.com"
    class="input-group"
  >
    <input class="search-box--input form-control form-control-sm" name="q" type="text" />

    <input name="sites" value="loop.tangible.one" type="hidden" />
    <!-- Region for localization, optional -->
    <!-- <input name="kl" value="uk-en" type="hidden" /> -->
    <div class="input-group-append">
      <button type=submit class="search-box--button btn btn-secondary btn-sm">Search</button>
    </div>
  </form>
</div>
<style type=sass>
.search-box--input,
.search-box--input:focus {
  background-color: rgba(0, 0, 0, .2);
  color: #fafafa;
  border-color: rgba(255, 255, 255, .175);
}
.search-box--button {
  border: 0;
  // Same as sidebar menu item in /styles/sidebar.scss
  background-color: rgba(171,198,255,0.2);
  &:hover, &:active {
    background-color: rgba(171,198,255,0.1);
  }
}
</style>