<Note>
  Sidebar menu

  Routes can load different menu, before loading this header
</Note>

<If not loop exists list=sections>
  <List name="sections" load="/menu.hjson" />
</If>

<If not check="{Get menu_title}">
  <Set menu_title>Loops & Logic</Set>
</If>

<header id="sidebar-wrapper" class="d-flex flex-column">

  <nav class="sidebar-heading navbar navbar-dark">
    <a class="navbar-brand" href="{Url site}">
      <div class="d-inline-block" style="margin-right:-2px">
        <img src="/assets/loops-and-logic-logo.png"
          alt="Logo" width="26"
          style=""
        >
      </div>
      <Get menu_title />
    </a>
    <button id="menu-toggle" class="navbar-toggler d-md-none" type="button" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>

  <div class="list-group list-group-flush flex-grow-1 relative">

    <Note> Generate menu </Note>

    <Math>page_indent = 0</Math>

    <Set template=page_list>
      <Loop field=pages>

        <If not check="{Field title}">
          <hr>
        <Else />

          <Set item_show>true</Set>
          <If field=admin>
            <If not user_role includes value="administrator">
              <Set item_show>false</Set>
            </If>
          </If>

          <If check="{Get item_show}" value="true">

            <Note>
              Active route
              TODO: Support route option to match all children
            </Note>

            <Set item_class></Set>
            <If check="/{Get route}" value="{Field route}">
              <Set item_class>active</Set>

              <If not field=route value="/">
                <Note> Provide default browser tab title </Note>
                <Meta title><Field title /> | <Site name /></Meta>
              </If>
            </If>

            <a class="list-group-item list-group-item-action border-0 {Get item_class} ml-{Math}page_indent * 3{/Math}"
              href="{Field route}"
            >
              <Field title />
            </a>

            <Note> TODO: Optional child items when active </Note>

            <If field=pages>
              <Math>page_indent = page_indent + 1</Math>
              <Get template=page_list />
              <Math>page_indent = page_indent - 1</Math>
            </If>
          </If>
        </If>
      </Loop>
    </Set>

    <Loop list=sections>

      <Set section_show>true</Set>
      <If field=admin>
        <If not user_role includes value="administrator">
          <Set section_show>false</Set>
        </If>
      </If>

      <If check="{Get section_show}" value="true">
        <div class="list-group-item list-group-item-action p-0">
          <div class="sidebar-subheading list-group-item border-0">
            <Field title />
          </div>

          <Get template=page_list />

          <If field=title value="Getting Started">
            <Load file=search-box.html />
          </If>
        </div>
      </If>
    </Loop>
    <div class="list-group-item list-group-item-action p-0">
      <div class="sidebar-subheading list-group-item border-0">
        Site
      </div>
      <If user exists>
        <If user_role includes value="administrator">
          <a class="list-group-item list-group-item-action" href="{Url admin}">Admin</a>
          <hr>
        </If>
        <a class="list-group-item list-group-item-action" href="{Url logout}">Logout</a>
      <Else />

        <Set login_url><Url login redirect="{Url current}"></Set>

        <a class="list-group-item list-group-item-action" href="{Get login_url}">Login</a>

        <Note>
        <hr>
        <a class="list-group-item list-group-item-action" href="{Url register}">Register</a>
        </Note>
      </If>
    </div>

    <Note> Optional template for sidebar bottom </Note>
    <Get template=sidebar_bottom />

  </div>
  <script>
    jQuery(function($) {
      var $wrapper = $('#wrapper')
      var $sidebarWrapper = $('#sidebar-wrapper')
      var $sidebarToggle = $sidebarWrapper.find('#menu-toggle')
       $sidebarToggle.click(function(e) {
        e.preventDefault();
        $wrapper.toggleClass('toggled');
      })

      // Scroll menu item into view

      var $menu = $sidebarWrapper.find('> .list-group')
      var $activeItem = $menu.find('.list-group-item.active')
      var $activeItemContainer = $activeItem.closest('.list-group-item')

      if ($activeItem.length) {
        var menuOffset = $menu.offset().top
        var offset = $activeItem.offset().top - menuOffset
        var sidebarHeight = $sidebarWrapper.height()

        if ((offset+menuOffset+40) > sidebarHeight) {
          $menu[0].scrollTop = offset
        }
      }
    })
  </script>

</header>
