<Markdown>

# Markdown

The `Markdown` tag renders Markdown format ([syntax reference](https://www.markdownguide.org/basic-syntax)).

Here's an example.

</Markdown>

<Prism>
<Markdown>

# Heading 1

## Heading 2

## Heading 3

**Bold** and *italic*. [Link](https://example.com)

</Markdown>
</Prism>

..and the result.

<Note> Test if it works </Note>

<Markdown>

# Heading 1

## Heading 2

## Heading 3

**Bold** and *italic*. [Link](https://example.com)

</Markdown>
