<Markdown>

# Loop: Post

For loop type `post`, `page`, and custom post type, here are the query parameters and fields.

<?php

$loop_type = 'post';

require_once __DIR__.'/../query-args-and-fields.php';

?>

<a name="excerpt"></a>
## Excerpt

For post excerpt, the attribute `auto=true` can be used to optionally generate the excerpt from post content.

```html
<Field excerpt auto=true />
```

Attributes to customize:

- `words` Maximum number of words - default `55`
- `more` Text to display after content is trimmed - default: ` [&hellip;]`

</Markdown>