<Markdown>

# Templates

Loops & Logic provides a post type called Template.

<p><img src="templates-edit.jpg" /></p>

This is the main way to edit and manage templates.

See the page [Template Editor](/overview/template-editor) for a description of how to use the editor.

---

Here are some ways that templates can be loaded in a page.

- **Shortcode** `[template]` - [Documentation](/tags/template#shortcode)
- **PHP** function `tangible_template()` - [Documentation](/tags/template#php)
- **Template block** for page builders
  - Gutenberg
  - Beaver Builder
  - Elementor

---

We're also developing:

- **Tangible Views** theme to build whole websites with Loops & Logic templates
- **Template Cloud** to save and share templates and styles among websites
- **Visual builder** to edit a template in a tree layout, with no HTML involved

---

[Next: Template language](/overview/template-language)

</Markdown>
