<Markdown>

# Loop

The <code class="color-tag">Loop</code> tag gets items of site content by type, and repeats a template for each item.

### Example

```html
<Loop type=post count=3>
  <Field title />
</Loop>
```

In this example, the loop <code class="color-attribute">type</code> is `post`.

The <code class="color-attribute">count</code> attribute limits the number of items.

For each item in the loop, the template will display the <code class="color-value">title</code> field of the item.

## Concepts

- Loop **type** is the name of the type of content items to get.

  It is usually in singular form, for example: `post`, `page`, or `user`. The name must be lowercase letters, and can contain numbers, `-` (dash) or `_` (underscore).

- Loop **query** means how to search, filter, and sort items.

  This is achieved by passing attributes, also called query parameters, to the <code class="color-tag">Loop</code> tag.

- A **field** is a detail of the current item in the loop, such as title, author, and published date.

  The `Field` tag is used for this purpose.

- There are ways to show or skip content based on **conditions**.

  This is done with the `If` tag, usually by checking an item's field values.

## Loop types

The <code class="color-attribute">type</code> attribute defines the loop type, usually corresponding to a post type.

Each loop type has a set of available query parameters and fields.

### Core content

- [Post](/tags/loop/post) - `post`, `page`, `custom_post_type`
- [Attachment](/tags/loop/attachment) - `attachment`
- [Post Type](/tags/loop/type) - `type`
- [Taxonomy](/tags/loop/taxonomy) - `taxonomy`
- [Taxonomy Term](/tags/loop/taxonomy-term) - `taxonomy_term`
- [User](/tags/loop/user) - `user`
- [Menu](/tags/loop/menu) - `menu`
- [Calendar](/tags/loop/calendar) - `calendar`

### Field loop

These loop through a field value that is a list or map (associative array).

- Field - `field`
- User field - `user_field`

### Abstract data

These loop through data created by `List` and `Map` tags, or passed directly as attribute value.

- [List](/tags/list#list-loop) - `list`
- [Map](/tags/map#map-loop) - `map` - Loop of a single item, which is a map
- Map keys - `map_keys` - Loop of all keys in a map


### Integrations

There are loop types that integrate with content from other plugins.

<Note> From /header.html </Note>

<Loop list=sections>
  <If field=title value="Integrations">
    <ul>
      <Loop field=pages>
        <Set logic=skip>
          <If field=route not_exists>
            true
          <Else if field=route value="/integrations/tangible-views" />
            true
          <Else />
            false
          </If>
        </Set>
        <If not logic=skip all=true>
          <li><a href="{Field route}"><Field title /></a></li>
        </If>
      </Loop>
    </ul>
  </If>
</Loop>

## Loop features

Here are some other features of the loop.

- [Query](/tags/loop/query)
- [Exists](/tags/loop/exists)
- [Variables](/tags/loop/variables)
- [Pagination](/tags/loop/pagination)

---

[Next: Field]({Get url=site}/tags/field)

</Markdown>
