
<h1>Reference</h1>

<p>Here is a table of all registered loop types.</p>

<?php

$loop = tangible_loop();
$type_configs = $loop->get_type_configs();
// $framework->see($type_configs);

?>
<table class="table table-sm">
  <thead>
    <th>Type</th>
    <th>Query parameters</th>
    <th>Fields</th>
  </thead>
  <tbody>
    <?php foreach ($type_configs as $type_name => $type) { ?>
      <tr>
        <td><?= $type['title'] ?> - <code><?= $type_name ?></code><br><?= @$type['description'] ?></td>
        <td>
        <?php

        foreach ($type['query_args'] as $query_name => $query) {

          if (is_string($query)) $query = [ 'type' => $query, ];
          $query_type = is_array($query['type']) ? implode(', ', $query['type']) : $query['type'];

          ?><p><?= $query_name ?> - <?=  "({$query_type})".' '. @$query['description'] ?></p><?php
        }

        ?>
        </td>
        <td>
        <?php

        foreach ($type['fields'] as $field_name => $field) {

          ?><p><?= $field_name ?> - <?=  $field['description'] ?></p><?php
        }

        ?>
        </td>
      </tr>
    <?php } ?>
  </tbody>
</table>
<?php
