<Markdown>

# Glider

The `Glider` tag provides a full-screen gallery slider.

It expects thumbnail images linked to their full-size URLs.

```html
<Glider>
  <a href="img/img1.jpg">
    <img src="img/thumb1.jpg" />
  </a>
  <a href="img/img2.jpg">
    <img src="img/thumb2.jpg" />
  </a>
</Glider>
```

Result: (click image to view full size)

<Loop type=page name=hello-world>
  <Glider>
    <Loop acf_gallery=images>
      <a href="{Field url}">
        <img src="{Field url size=thumbnail}" />
      </a>
    </Loop>
  </Glider>
</Loop>

</Markdown>